.cartao-pokemon{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    display: none;
}

.cartao-topo{
    padding: 30px 40px 0;
}

.detalhes {
    /* color: #fefefe; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.nome{
    margin-bottom: 5px;
}

.tipo{
    font-size: 12px;
    background-color: #fefefe;
    border-radius: 10px;
    padding: 2px 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.cartao-imagem{
    width: 350px;
    height: 350px;
}

.cartao-imagem img{
    max-height: 100%;
}

.cartao-informacoes{
    display: flex;
    justify-content: space-between;
    background-color: #fefefe;
    padding: 80px 30px 50px;
    margin-top: -70px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.cartao-informacoes h3{
    font-size: 22px;
    margin-bottom: 15px;
    border-bottom: 1px solid #6B727A;
}

.status, .habilidades{
    padding: 0 10px;
    width: 180px;
}

.habilidades ul li, .status ul li{
    border-bottom: 1px solid #C3C3C3;
    padding: 0 0 5px;
    margin-bottom: 5px;
    font-size: 15px;
}

.cartao-pokemon.aberto{
    display: block;
}

.tipo-fogo{
    background-color: #ED8A8B;
}

.tipo-eletrico{
    background-color: #FCCF19;
}
.tipo-agua{
    background-color: #76BEFE;
}

.tipo-grama{
    background-color: #49D0B0;

}

.tipo-trevas{
    background-color: #B468C8;
}

.tipo-dragao{
    background-color: #C29791;
}

/* Listagem css */

.listagem{
    max-width: 200px;
}

.pokemon{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
    background-color: #6b727a;
    color: #fefefe;
    padding: 0 5px;
    cursor: pointer;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    min-height: 70px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 0.2s ease-in-out;
}

.pokemon:hover{
    transform: scale(1.15);
}

.pokemon img{
    width: 25%;
    border-radius: 50%;
}

.pokemon span{
    padding-right: 20px;

}

.pokemon.ativo{
    background-color: #FA6668;
}